/***
    The new CSS reset - version 1.5.1 (last updated 1.3.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}



@font-face {
    font-family: 'ComicNeue-Bold';
    src: local(ComicNeue-Bold), url('./fonts/ComicNeue-Bold.ttf') format('truetype');
    font-weight: bold;
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'ComicNeue-Bold',Arial, Helvetica, sans-serif;
    /* background-image: url("\assets\background.webp"); */
  }
  

.card {
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:250px;
    height:500px;
    margin:50px;
    background-color: #f1f1f1;
    text-align: center;

}

img {
    border-radius: 5px;
    width:240px;
    height:250px;
}

.image{
    margin: 10px,10px,10px,10px;
    padding: 10px,10px,10px,10px;
}

.name {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    height:40px;
}
.id{
    display: none;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}
  
.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.bio{
    height:150px;
    padding: 5px 10px 5px 10px;
    overflow:auto;
}

.btns{
   position: relative; 
   text-align: center;
}


.vote-cnt{
    border-radius:3px;
    border:0;
    background:#fff;
    padding:15px 12px 15px 15px;
    font: bold 15px bold;
    color:#881d12;
    letter-spacing:1px;
    box-shadow:0 1px 1px rgba(0,0,0,.2);
    outline:none;
    position:relative;
    transition: all .3s ease-out; 
    overflow:hidden;
    position:bottom;
    width:300px;
}
  
