.Header {
  background-color: black;
  padding: 8px 8px 3px;
  color: white;
  display: flex;
  justify-content: flex-end;
}
  .MarvelBrand {
    width: 500%;
    text-align: center;
    color:white;

  }
  #logo{
    max-width: 250px;
    max-height: 100px;
  }